table{
	color: white; 
	font-family: Sans-serif;
	font-weight: bold;
	text-align: center;
	width: 600px;
	height: 600px;
}
tr{
	background-color: red;
}
.secondo{
	width: 650px;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.terzo{
	background-color: blue;
}
.colorli{
	background-color: yellow;
}
.tbody1{
	background-color: #00cc44;
}
.table2{
	width: 1600px;
	height: 1600px;
	padding-left: 200px;
} 
.tr2{
	background-color: #3399ff;
}
.tr3{
	background-color: #993333;
}